---
---
h1:first-child {
  visibility: hidden;
  display: none;
}

@import "{{ site.theme }}";

h1:first-child {
  visibility: hidden;
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 479px){
  .container {
    width: 100%;
    table {
      display: table;
      overflow: scroll;
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
  .container {
    width: 100%;
    table {
      display: table;
      overflow: scroll;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){ }

@media only screen and (min-width: 992px) and (max-width: 1999px){ }